@media (min-width: 360px){
header{
    background-color: rgb(76, 12, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
header{
    background-image: url(./images/citlogo.png);
    background-repeat: no-repeat;
    background-size: 6%;

}

a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: white;
    font-size: 16px;
}
a:hover{
    background-color: gray;
    color: black;
}
h1{
    color:white;
    padding-left: 90px;
}
}
@media (min-width:768px){
    header{
        flex-direction: row;
        background-color: rgb(55, 80, 227);
        display: flex;
        align-items: center;
        padding: 10px;
    }
}
.h2{
    color: black;
    text-align: center;
}
p{
    text-align: center;
}
.cl{
    color:black
}
.main-user{
    display:flex;
    flex-direction:column;  
}
img{
    width: 100%;
}
footer{
    text-align: center;
    background-color: rgb(127, 218, 236);
    margin-top: 90px;
}
